html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

canvas {
  vertical-align: top;
  z-index: 10;
}