html,
body {
  margin: 0;
  padding: 0;
}

#bg,
canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

canvas {
  vertical-align: top;
  z-index: 10;
}

/* #bg {
  left: -10%;
  top: -10%;
  height: 120%;
  width: 120%;
}

.background {
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}

#background-1 {
  background-image: url('background-1.jpg');
  z-index: 1;
}

#background-2 {
  background-image: url('background-2.png');
  opacity: 0.6;
  z-index: 2;
} */